div.slide {
    background-image: linear-gradient(#e5e5e5 0%, #f0f0f0 16%, #ffffff 100%);
}

div.title {
    background: $primary1;
    color: white;
}

div.section.blue {
    background-color: $primary1_light;
    color: $primary1;
}